<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Query</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    {{query}}
    
    <video width="400" loop>
        <source src="{{ video_url_left }}" type="video/webm">
        Your browser does not support HTML5 video.
    </video>
    <video width="400" loop>
        <source src="{{ video_url_right }}" type="video/webm">
        Your browser does not support HTML5 video.
    </video>
    <input type="button" onclick="" value="Left">
    <input type="button" onclick="" value="Equal">
    <input type="button" onclick="" value="Skip">
    <input type="button" onclick="" value="Right">
</body>

</html>